body{
  background-color: rgb(14,116,216, .3);

}

#coverimage {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

#title{
  font-size: 4em;
  color: #BE1C69;
  font-family: 'Georgia';
  font-weight: bold;
}

.halfrow{
  background-color: #0D5D6C;
  color: white;
  margin: 40px;
  padding: 20px;
  text-align: center;
}

#color1 {
  background-color: #066CBC;
}

#color2 {
  background-color: #0EA6D8;
}

#color3 {
  background-color: #BE1C69;
}

#color4 {
  background-color: #04080D;
}

#color5 {
  background-color: #0D5D6C;
}

.color {
  height: 25vh;
}

#pickacolor{
  height: 60vh;
  width: 100%;
  padding-top: 30vh;
  text-align: center;
}

#colorGenerator{
  margin-top: 30px;
  margin-left: 30px;
  margin-right:30px;
}
