#coverimage {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

#title{
  font-size: 4em;
  color: #BE1C69;
  font-family: 'Georgia';
  font-weight: bold;
}

.halfrow{
  background-color: #0D5D6C;
  color: white;
  margin: 40px;
  padding: 20px;
  text-align: center;
}
